.search-panel {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
}

.search-panel-title {
    margin: 40px;
}

.search-form {
    margin: 40px;
}

.search-form>* {
    margin: 20px;
}

.no-result {
    width: 100%;
    text-align: center;
}